.feynman {
  /* сбрасываем отступы */
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 890px;
  position: relative;

  background-color: #f2f2f2;
  z-index: 1;
}
