.kaufman {
  /* сбрасываем отступы */
  margin: 0;
  padding: 0;

  /* add intents */
  padding-top: 90px;
  padding-bottom: 90px;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;

  background-color: #1f1f1f;
  z-index: 1;
}
