/* element paragraph */
.two-columns__paragraph {
  /* обнуляем отступы у текстового элемента */
  margin: 0;
  padding: 0;

  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 30px;
}
.two-columns__paragraph:last-child {
  margin: 0;
}
