/* element subtitle */
.header__subtitle {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 388px;
  margin-left: 64px;
  margin-bottom: 30px;

  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}
